<!DOCTYPE html>
<html>

<head>
	<title>
		Dashboard page
	</title>
	<meta charset='utf-8' />

	<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
	<link rel="manifest" href="/fav/site.webmanifest">
	<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link href='css/normalize.css' rel='stylesheet' />

	<link href='css/dashboard.css' rel='stylesheet' />

	<meta name="viewport"
		content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>

	<div class="page page--dashboard">
		<aside class="page_aside aside vertical vertical--big">
			<div class="aside_logo text">Sidebar</div>
			<nav class="vertical vertical--small">
				<a href="#" class="nav-button nav-button-active click">
					<span class="icon nav-button_icon"
						style="background-image: url('/svg/feature/nav/home.svg');"></span>
					<span class="text text--light">Home</span>
				</a>
				<a href="#" class="nav-button click">
					<span class="icon nav-button_icon"
						style="background-image: url('/svg/feature/nav/orders.svg');"></span>
					<span class="text text--light">Orders</span>
				</a>
				<a href="#" class="nav-button click">
					<span class="icon nav-button_icon"
						style="background-image: url('/svg/feature/nav/products.svg');"></span>
					<span class="text text--light">Products</span>
				</a>

				{{!-- <div class="relative click">
					<div class="field field--select">
						<span class="text text--light">Choose...</span>
					</div>
					<select class="field_select"></select>
				</div> --}}
			</nav>
		</aside>
		<header class="header">
			<div class="layout header_content text--small">
				<div class="header_search relative">
					<input type="text" placeholder="Search" class="text field field--header">
					<span class="icon header_icon-search"
						style="background-image: url('/svg/header/search.svg');"></span>
					<span class="icon icon--header-settings icon--button icon--color-blue click"
						style="background-image: url('/svg/header/settings.svg');"></span>
				</div>
				<div class="header_list">
					<span class="icon icon--header-signal icon--button icon--color-yellow-light click"
						style="background-image: url('/svg/header/signal.svg');"></span>
					<span class="icon icon--header-translate icon--button icon--color-blue-light click"
						style="background-image: url('/svg/header/translate.svg');"></span>
					<span class="icon icon--header-bell icon--button icon--color-yellow-light click"
						style="background-image: url('/svg/header/bell.svg');"></span>
				</div>
			</div>

		</header>
		<main class="main">
			<div class="layout">
				<section class="box analytic_block">
					<div class="analytic analytic--double analytic--blue">
						<span class="icon analytic_button icon--button icon--color-blue click"
							style="background-image: url('/svg/analytic/order.svg');"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic_title text text--light">$961</div>
							<div class="text text--small text--lighter">Total Order</div>
							<span class="icon analytic_arrow"
								style="background-image: url('/svg/analytic/blue-arrow.svg');"></span>
						</div>
					</div>

					<div class="analytic analytic--double analytic--purple">
						<span class="icon analytic_button icon--button icon--color-purple click"
							style="background-image: url('/svg/analytic/money.svg');"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic_title text text--light">$500.00</div>
							<div class="text text--small text--lighter">Total earning</div>
							<span class="icon analytic_arrow"
								style="background-image: url('/svg/analytic/blue-arrow.svg');"></span>
						</div>
					</div>

					<div class="analytic analytic--small analytic--blue">
						<div class="horizontal">
							<span class="icon analytic_button icon--button icon--color-blue click"
								style="background-image: url('/svg/analytic/money.svg');"></span>

							<div class="relative vertical vertical--small">
								<div class="analytic_title text text--light">$203k</div>
								<div class="text text--small text--lighter">Total Income</div>
							</div>
						</div>
					</div>
					<div class="analytic analytic--small horizontal--border">
						<div class="horizontal">
							<span class="icon analytic_button icon--button icon--color-yellow click"
								style="background-image: url('/svg/analytic/shop.svg');"></span>

							<div class="relative vertical vertical--small">
								<div class="analytic_title text">$203k</div>
								<div class="text text--small text-gray">Total Income</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<section class="main_double">
				<div class="purchase">
					<div class="payment--title text text-dark">Purchase list</div>
					<div class="hr">
						<hr>
					</div>
					<div class="purchase_list">
						<div class="text text-dark">ID437661</div>
						<div class="text text-dark">AirOn ProCam</div>
						<div class="text text-dark">132.32 EUR</div>
						<div class="text text-dark">Customer</div>
						<div class="text text-dark">May 11, 2023, 14:21</div>
						<div class="text text-dark">7/8 USB Type-C</div>
						<div class="text text-warning">Not paid</div>
						<div class="text text-dark">robin@com.de</div>
					</div>
					<div class="hr">
						<hr>
					</div>
					<div class="purchase_list_double">
						<div class="text text-dark">ID437661</div>
						<div class="text text-dark">PHILIPS Essential</div>
						<div class="text text-dark">543 USD</div>
						<div class="text text-dark">Customer</div>
						<div class="text text-dark">May 11, 2023, 14:21</div>
						<div class="text text-dark">HD9200/90</div>
						<div class="text text-success">Pay by Stripe</div>
						<div class="text text-dark">dima@com.ua</div>
					</div>
				</div>
				<div class="payment">
					<div class="payment_validation">
						<div class="payment--title text">Payment</div>
						<div class="hr">
							<hr>
						</div>
						<div class="payment_radio">
							<div class="text text-dark">
								<input type="radio" id="credit" name="payment" value="huey" checked>
								<label for="huey">Credit card</label>
							</div>

							<div class="text text-dark">
								<input type="radio" id="debit" name="payment" value="dewey">
								<label for="dewey">Debit card</label>
							</div>

							<div class="text text-dark">
								<input type="radio" id="PayPal" name="payment" value="louie">
								<label for="louie">PayPal</label>
							</div>
						</div>
						<div class="payment_card-form">
							<div class="payment_input-name">
								<h3 class="name_card">Name on card</h3>
								<input type="text" name="input" value="" class="payment_input-card">
							</div>
							<div class="payment_input-name">
								<h3 class="name_card">Credit card number</h3>
								<input type="text" name="input" value="" class="payment_input-card">
							</div>
							<div class="payment_input-name">
								<h3 class="name_card">Expiration</h3>
								<input type="text" name="input" value="" class="payment_input-card">
							</div>
							<div class="payment_input-name">
								<h3 class="name_card">CVV</h3>
								<input type="text" name="input" value="" class="payment_input-card">
							</div>
						</div>
						<div class="hr">
							<hr>
						</div>
						<div class="payment_card-form">
							<div class="country">
								<h3 class="name_card">Country</h3>
								<select name="input" class="choose">
									<option disabled="disabled" selected="selected">Choose...</option>
								</select>
							</div>
							<div class="country">
								<h3 class="name_card">State</h3>
								<select name="input" class="choose">
									<option disabled="disabled" selected="selected">Choose...
									</option>
								</select>
							</div>
						</div>
						<div class="hr">
							<hr>
						</div>
						<button type="submit" class="form_button text--light">Continue to checkout</button>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>

</html>