<div class="articles_card">
	{{#if isNew}}
	<div class="article_is" id="{{id}}">New</div>
	{{/if}}
	<img src="{{photo}}" alt="photo" class="articles_photo">
	<div class="articles_name">{{name}}</div>
	<p class="articles_desc">{{description}}</p>
	<a href="#" class="button articles_button">Read All</a>
</div>